name: Release to NuGet.org

on:
  push:
    tags:
      - 'v*'
  release:
    types: [published]
  workflow_dispatch: {}

jobs:
  build:
    name: Build, test and pack
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Project
        run: dotnet build src/Quartz.Store.MongoDb/Quartz.Store.MongoDb.csproj --configuration Release --no-restore

      - name: Pack NuGet Package
        run: dotnet pack src/Quartz.Store.MongoDb/Quartz.Store.MongoDb.csproj --configuration Release --no-build --output ./nupkg
     
      - name: Push to NuGet.org
        run:  dotnet nuget push "**/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

